<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Business Process View</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Business Process View</b>
			(<span class="i18n-viewpoint-8"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_8" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/3761.png" alt="Business Process View" usemap="#3761map">
			<map name="3761map">
						<area shape="rect" coords="190,649,310,709" href="../elements/521.html"  target="element">
						<area shape="rect" coords="10,170,130,210" href="../elements/651.html"  target="element">
						<area shape="rect" coords="180,296,300,351" href="../elements/674.html"  target="element">
						<area shape="rect" coords="350,10,450,60" href="../elements/673.html"  target="element">
						<area shape="rect" coords="593,649,713,709" href="../elements/740.html"  target="element">
								<area shape="rect" coords="340,160,460,220" href="../elements/572.html"  target="element">
								<area shape="rect" coords="180,160,300,220" href="../elements/564.html"  target="element">
								<area shape="rect" coords="510,160,630,220" href="../elements/580.html"  target="element">
								<area shape="rect" coords="670,160,790,220" href="../elements/588.html"  target="element">

						<area shape="rect" coords="160,140,820,230" href="../elements/556.html"  target="element">
						<area shape="rect" coords="404,500,524,560" href="../elements/514.html"  target="element">
						<area shape="rect" coords="340,590,460,650" href="../elements/507.html"  target="element">
						<area shape="rect" coords="10,410,130,470" href="../elements/650.html"  target="element">
						<area shape="rect" coords="170,10,250,60" href="../elements/676.html"  target="element">
								<area shape="rect" coords="400,410,529,470" href="../elements/612.html"  target="element">
								<area shape="rect" coords="592,410,712,470" href="../elements/722.html"  target="element">
								<area shape="rect" coords="175,410,325,470" href="../elements/721.html"  target="element">

						<area shape="rect" coords="160,380,747,480" href="../elements/596.html"  target="element">
						<area shape="rect" coords="398,296,518,351" href="../elements/675.html"  target="element">
						<area shape="rect" coords="180,500,320,560" href="../elements/733.html"  target="element">
						<area shape="rect" coords="670,288,790,343" href="../elements/674.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/521.html" target="element"> Customer </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/651.html" target="element"> Damage Occured </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>
										<tr><td> <a href="../elements/674.html" target="element"> Customer File </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/673.html" target="element"> Damage Claim </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/740.html" target="element"> Contracting </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
										<tr><td> <a href="../elements/556.html" target="element"> Handle Claim </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/572.html" target="element"> Accept </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/564.html" target="element"> Register </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/580.html" target="element"> Valuate </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/588.html" target="element"> Pay </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/514.html" target="element"> Insurer </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/507.html" target="element"> Intermediary </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/650.html" target="element"> Request for Insurance </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>
										<tr><td> <a href="../elements/676.html" target="element"> Claim Form </a> </td><td class="i18n-elementtype-Representation"></td></tr>
										<tr><td> <a href="../elements/596.html" target="element"> Close Contract </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/612.html" target="element"> Create Contract </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/722.html" target="element"> Check and  Sign Contract </a> </td><td class="i18n-elementtype-BusinessInteraction"></td></tr>
												<tr><td> <a href="../elements/721.html" target="element"> Formalise Request </a> </td><td class="i18n-elementtype-BusinessInteraction"></td></tr>
										
										<tr><td> <a href="../elements/675.html" target="element"> Insurance Policy </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/733.html" target="element"> Negotiation </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
										<tr><td> <a href="../elements/674.html" target="element"> Customer File </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>