<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Technical Infrastructure View</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Technical Infrastructure View</b>
			(<span class="i18n-viewpoint-13"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_13" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/3893.png" alt="Technical Infrastructure View" usemap="#3893map">
			<map name="3893map">
						<area shape="rect" coords="180,10,300,50" href="../elements/1110.html"  target="element">
						<area shape="rect" coords="330,10,450,50" href="../elements/1116.html"  target="element">
						<area shape="rect" coords="30,10,150,50" href="../elements/1128.html"  target="element">
						<area shape="rect" coords="468,254,548,294" href="../elements/1095.html"  target="element">
								<area shape="rect" coords="846,248,926,298" href="../elements/1071.html"  target="element">
								<area shape="rect" coords="590,243,680,303" href="../elements/1004.html"  target="element">
								<area shape="rect" coords="710,253,790,293" href="../elements/1101.html"  target="element">

								<area shape="rect" coords="200,253,280,293" href="../elements/1089.html"  target="element">
										<area shape="rect" coords="38,313,131,351" href="../elements/1010.html"  target="element">
										<area shape="rect" coords="40,213,130,253" href="../elements/1022.html"  target="element">
										<area shape="rect" coords="40,263,130,303" href="../elements/1016.html"  target="element">

								<area shape="rect" coords="30,173,150,373" href="../elements/986.html"  target="element">
								<area shape="rect" coords="190,123,290,183" href="../elements/1065.html"  target="element">
										<area shape="rect" coords="240,413,320,463" href="../elements/1059.html"  target="element">
										<area shape="rect" coords="140,413,220,463" href="../elements/1053.html"  target="element">

								<area shape="rect" coords="130,383,350,473" href="../elements/992.html"  target="element">
								<area shape="rect" coords="340,243,440,303" href="../elements/998.html"  target="element">


			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/1110.html" target="element"> File Service </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
										<tr><td> <a href="../elements/1116.html" target="element"> Network Service </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
										<tr><td> <a href="../elements/1128.html" target="element"> Database Service </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
										<tr><td> <a href="../elements/1095.html" target="element"> BIBIT </a> </td><td class="i18n-elementtype-CommunicationNetwork"></td></tr>
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->	
												<tr><td> <a href="../elements/1071.html" target="element"> Admin Server </a> </td><td class="i18n-elementtype-Device"></td></tr>
												<tr><td> <a href="../elements/1004.html" target="element"> Firewall </a> </td><td class="i18n-elementtype-Node"></td></tr>
												<tr><td> <a href="../elements/1101.html" target="element"> LAN </a> </td><td class="i18n-elementtype-CommunicationNetwork"></td></tr>
										
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->	
												<tr><td> <a href="../elements/1089.html" target="element"> LAN </a> </td><td class="i18n-elementtype-CommunicationNetwork"></td></tr>
												<tr><td> <a href="../elements/986.html" target="element"> Mainframe </a> </td><td class="i18n-elementtype-Node"></td></tr>
														<tr><td> <a href="../elements/1010.html" target="element"> Message Queing </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
														<tr><td> <a href="../elements/1022.html" target="element"> CICS </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
														<tr><td> <a href="../elements/1016.html" target="element"> DBMS </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
												
												<tr><td> <a href="../elements/1065.html" target="element"> NAS File Server </a> </td><td class="i18n-elementtype-Device"></td></tr>
												<tr><td> <a href="../elements/992.html" target="element"> Unix Server Farm </a> </td><td class="i18n-elementtype-Node"></td></tr>
														<tr><td> <a href="../elements/1059.html" target="element"> Unix Server </a> </td><td class="i18n-elementtype-Device"></td></tr>
														<tr><td> <a href="../elements/1053.html" target="element"> Unix Server </a> </td><td class="i18n-elementtype-Device"></td></tr>
												
												<tr><td> <a href="../elements/998.html" target="element"> Firewall </a> </td><td class="i18n-elementtype-Node"></td></tr>
										

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>