<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Organisation Tree View</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Organisation Tree View</b>
			(<span class="i18n-viewpoint-15"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_15" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/3965.png" alt="Organisation Tree View" usemap="#3965map">
			<map name="3965map">
						<area shape="rect" coords="480,10,580,50" href="../elements/402.html"  target="element">
						<area shape="rect" coords="540,240,640,280" href="../elements/317.html"  target="element">
						<area shape="rect" coords="650,240,750,280" href="../elements/352.html"  target="element">
						<area shape="rect" coords="780,240,880,280" href="../elements/331.html"  target="element">
						<area shape="rect" coords="730,40,830,80" href="../elements/345.html"  target="element">
						<area shape="rect" coords="120,160,220,200" href="../elements/409.html"  target="element">
						<area shape="rect" coords="204,37,320,81" href="../elements/338.html"  target="element">
						<area shape="rect" coords="768,160,892,200" href="../elements/423.html"  target="element">
						<area shape="rect" coords="320,240,420,280" href="../elements/303.html"  target="element">
						<area shape="rect" coords="430,240,530,280" href="../elements/310.html"  target="element">
						<area shape="rect" coords="10,240,136,280" href="../elements/282.html"  target="element">
						<area shape="rect" coords="150,240,289,280" href="../elements/289.html"  target="element">
						<area shape="rect" coords="461,150,598,200" href="../elements/416.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/402.html" target="element"> Board </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/317.html" target="element"> Legal Aid </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/352.html" target="element"> Document Processing SSC </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/331.html" target="element"> Finance </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/345.html" target="element"> HRM </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/409.html" target="element"> Director of Sales </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/338.html" target="element"> Product Development </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/423.html" target="element"> Director of Finance </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/303.html" target="element"> Home  &amp;  Away </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/310.html" target="element"> Car </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/282.html" target="element"> Customer Relations </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/289.html" target="element"> Intermediary Relations </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/416.html" target="element"> Director of Operations </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>